--C-充值奖励配置.xlsx 日常充值累计天数奖励配置
RechargeDaysAwardsConfig = {
[1] = {
	awardList = {{type=0,id=2,count=600}},
},
[2] = {
	awardList = {{type=0,id=2,count=600}},
},
[3] = {
	awardList = {{type=0,id=2,count=600},{type=1,id=900012,count=1}},
},
[4] = {
	awardList = {{type=0,id=2,count=600}},
},
[5] = {
	awardList = {{type=0,id=2,count=600}},
},
[6] = {
	awardList = {{type=0,id=2,count=600}},
},
[7] = {
	awardList = {{type=0,id=2,count=2000},{type=1,id=900001,count=1}},
},
[8] = {
	awardList = {{type=0,id=2,count=600}},
},
[9] = {
	awardList = {{type=0,id=2,count=600}},
},
[10] = {
	awardList = {{type=0,id=2,count=600},{type=1,id=252229,count=1}},
},
[11] = {
	awardList = {{type=0,id=2,count=600}},
},
[12] = {
	awardList = {{type=0,id=2,count=600}},
},
[13] = {
	awardList = {{type=0,id=2,count=600}},
},
[14] = {
	awardList = {{type=0,id=2,count=4000},{type=1,id=200113,count=1}},
},
[15] = {
	awardList = {{type=0,id=2,count=800}},
},
[16] = {
	awardList = {{type=0,id=2,count=800}},
},
[17] = {
	awardList = {{type=0,id=2,count=800},{type=1,id=252230,count=1}},
},
[18] = {
	awardList = {{type=0,id=2,count=800}},
},
[19] = {
	awardList = {{type=0,id=2,count=800}},
},
[20] = {
	awardList = {{type=0,id=2,count=800}},
},
[21] = {
	awardList = {{type=0,id=2,count=8000}},
},
[22] = {
	awardList = {{type=0,id=2,count=800}},
},
[23] = {
	awardList = {{type=0,id=2,count=800}},
},
[24] = {
	awardList = {{type=0,id=2,count=800},{type=1,id=220011,count=1}},
},
[25] = {
	awardList = {{type=0,id=2,count=800}},
},
[26] = {
	awardList = {{type=0,id=2,count=800}},
},
[27] = {
	awardList = {{type=0,id=2,count=800}},
},
[28] = {
	awardList = {{type=0,id=2,count=14000}},
},
[29] = {
	awardList = {{type=0,id=2,count=880}},
},
[30] = {
	awardList = {{type=0,id=2,count=880}},
},
[31] = {
	awardList = {{type=0,id=2,count=880},{type=1,id=260065,count=1}},
},
[32] = {
	awardList = {{type=0,id=2,count=880}},
},
[33] = {
	awardList = {{type=0,id=2,count=880}},
},
[34] = {
	awardList = {{type=0,id=2,count=880}},
},
[35] = {
	awardList = {{type=0,id=2,count=20000}},
},
[36] = {
	awardList = {{type=0,id=2,count=880}},
},
[37] = {
	awardList = {{type=0,id=2,count=880}},
},
[38] = {
	awardList = {{type=0,id=2,count=880},{type=1,id=200301,count=250}},
},
[39] = {
	awardList = {{type=0,id=2,count=880}},
},
[40] = {
	awardList = {{type=0,id=2,count=880}},
},
[41] = {
	awardList = {{type=0,id=2,count=880}},
},
[42] = {
	awardList = {{type=0,id=2,count=26000}},
},
[43] = {
	awardList = {{type=0,id=2,count=600}},
},
[44] = {
	awardList = {{type=0,id=2,count=600}},
},
[45] = {
	awardList = {{type=0,id=2,count=600},{type=1,id=900012,count=1}},
},
[46] = {
	awardList = {{type=0,id=2,count=600}},
},
[47] = {
	awardList = {{type=0,id=2,count=600}},
},
[48] = {
	awardList = {{type=0,id=2,count=600}},
},
[49] = {
	awardList = {{type=0,id=2,count=2000},{type=1,id=900001,count=1}},
},
[50] = {
	awardList = {{type=0,id=2,count=600}},
},
[51] = {
	awardList = {{type=0,id=2,count=600}},
},
[52] = {
	awardList = {{type=0,id=2,count=600},{type=1,id=252229,count=1}},
},
[53] = {
	awardList = {{type=0,id=2,count=600}},
},
[54] = {
	awardList = {{type=0,id=2,count=600}},
},
[55] = {
	awardList = {{type=0,id=2,count=600}},
},
[56] = {
	awardList = {{type=0,id=2,count=4000},{type=1,id=200113,count=1}},
},
[57] = {
	awardList = {{type=0,id=2,count=800}},
},
[58] = {
	awardList = {{type=0,id=2,count=800}},
},
[59] = {
	awardList = {{type=0,id=2,count=800},{type=1,id=252230,count=1}},
},
[60] = {
	awardList = {{type=0,id=2,count=800}},
},
[61] = {
	awardList = {{type=0,id=2,count=800}},
},
[62] = {
	awardList = {{type=0,id=2,count=800}},
},
[63] = {
	awardList = {{type=0,id=2,count=8000}},
},
[64] = {
	awardList = {{type=0,id=2,count=800}},
},
[65] = {
	awardList = {{type=0,id=2,count=800}},
},
[66] = {
	awardList = {{type=0,id=2,count=800},{type=1,id=220011,count=1}},
},
[67] = {
	awardList = {{type=0,id=2,count=800}},
},
[68] = {
	awardList = {{type=0,id=2,count=800}},
},
[69] = {
	awardList = {{type=0,id=2,count=800}},
},
[70] = {
	awardList = {{type=0,id=2,count=14000}},
},
[71] = {
	awardList = {{type=0,id=2,count=880}},
},
[72] = {
	awardList = {{type=0,id=2,count=880}},
},
[73] = {
	awardList = {{type=0,id=2,count=880},{type=1,id=260065,count=1}},
},
[74] = {
	awardList = {{type=0,id=2,count=880}},
},
[75] = {
	awardList = {{type=0,id=2,count=880}},
},
[76] = {
	awardList = {{type=0,id=2,count=880}},
},
[77] = {
	awardList = {{type=0,id=2,count=20000}},
},
[78] = {
	awardList = {{type=0,id=2,count=880}},
},
[79] = {
	awardList = {{type=0,id=2,count=880}},
},
[80] = {
	awardList = {{type=0,id=2,count=880},{type=1,id=200301,count=250}},
},
[81] = {
	awardList = {{type=0,id=2,count=880}},
},
[82] = {
	awardList = {{type=0,id=2,count=880}},
},
[83] = {
	awardList = {{type=0,id=2,count=880}},
},
[84] = {
	awardList = {{type=0,id=2,count=26000}},
},
[85] = {
	awardList = {{type=0,id=2,count=600}},
},
[86] = {
	awardList = {{type=0,id=2,count=600}},
},
[87] = {
	awardList = {{type=0,id=2,count=600},{type=1,id=900012,count=1}},
},
[88] = {
	awardList = {{type=0,id=2,count=600}},
},
[89] = {
	awardList = {{type=0,id=2,count=600}},
},
[90] = {
	awardList = {{type=0,id=2,count=600}},
},
[91] = {
	awardList = {{type=0,id=2,count=2000},{type=1,id=900001,count=1}},
},
[92] = {
	awardList = {{type=0,id=2,count=600}},
},
[93] = {
	awardList = {{type=0,id=2,count=600}},
},
[94] = {
	awardList = {{type=0,id=2,count=600},{type=1,id=252229,count=1}},
},
[95] = {
	awardList = {{type=0,id=2,count=600}},
},
[96] = {
	awardList = {{type=0,id=2,count=600}},
},
[97] = {
	awardList = {{type=0,id=2,count=600}},
},
[98] = {
	awardList = {{type=0,id=2,count=4000},{type=1,id=200113,count=1}},
},
[99] = {
	awardList = {{type=0,id=2,count=800}},
},
[100] = {
	awardList = {{type=0,id=2,count=800}},
},
[101] = {
	awardList = {{type=0,id=2,count=800},{type=1,id=252230,count=1}},
},
[102] = {
	awardList = {{type=0,id=2,count=800}},
},
[103] = {
	awardList = {{type=0,id=2,count=800}},
},
[104] = {
	awardList = {{type=0,id=2,count=800}},
},
[105] = {
	awardList = {{type=0,id=2,count=8000}},
},
[106] = {
	awardList = {{type=0,id=2,count=800}},
},
[107] = {
	awardList = {{type=0,id=2,count=800}},
},
[108] = {
	awardList = {{type=0,id=2,count=800},{type=1,id=220011,count=1}},
},
[109] = {
	awardList = {{type=0,id=2,count=800}},
},
[110] = {
	awardList = {{type=0,id=2,count=800}},
},
[111] = {
	awardList = {{type=0,id=2,count=800}},
},
[112] = {
	awardList = {{type=0,id=2,count=14000}},
},
[113] = {
	awardList = {{type=0,id=2,count=880}},
},
[114] = {
	awardList = {{type=0,id=2,count=880}},
},
[115] = {
	awardList = {{type=0,id=2,count=880},{type=1,id=260065,count=1}},
},
[116] = {
	awardList = {{type=0,id=2,count=880}},
},
[117] = {
	awardList = {{type=0,id=2,count=880}},
},
[118] = {
	awardList = {{type=0,id=2,count=880}},
},
[119] = {
	awardList = {{type=0,id=2,count=20000}},
},
[120] = {
	awardList = {{type=0,id=2,count=880}},
},
[121] = {
	awardList = {{type=0,id=2,count=880}},
},
[122] = {
	awardList = {{type=0,id=2,count=880},{type=1,id=200301,count=250}},
},
[123] = {
	awardList = {{type=0,id=2,count=880}},
},
[124] = {
	awardList = {{type=0,id=2,count=880}},
},
[125] = {
	awardList = {{type=0,id=2,count=880}},
},
[126] = {
	awardList = {{type=0,id=2,count=26000}},
},
[127] = {
	awardList = {{type=0,id=2,count=600}},
},
[128] = {
	awardList = {{type=0,id=2,count=600}},
},
[129] = {
	awardList = {{type=0,id=2,count=600},{type=1,id=900012,count=1}},
},
[130] = {
	awardList = {{type=0,id=2,count=600}},
},
[131] = {
	awardList = {{type=0,id=2,count=600}},
},
[132] = {
	awardList = {{type=0,id=2,count=600}},
},
[133] = {
	awardList = {{type=0,id=2,count=2000},{type=1,id=900001,count=1}},
},
[134] = {
	awardList = {{type=0,id=2,count=600}},
},
[135] = {
	awardList = {{type=0,id=2,count=600}},
},
[136] = {
	awardList = {{type=0,id=2,count=600},{type=1,id=252229,count=1}},
},
[137] = {
	awardList = {{type=0,id=2,count=600}},
},
[138] = {
	awardList = {{type=0,id=2,count=600}},
},
[139] = {
	awardList = {{type=0,id=2,count=600}},
},
[140] = {
	awardList = {{type=0,id=2,count=4000},{type=1,id=200113,count=1}},
},
[141] = {
	awardList = {{type=0,id=2,count=800}},
},
[142] = {
	awardList = {{type=0,id=2,count=800}},
},
[143] = {
	awardList = {{type=0,id=2,count=800},{type=1,id=252230,count=1}},
},
[144] = {
	awardList = {{type=0,id=2,count=800}},
},
[145] = {
	awardList = {{type=0,id=2,count=800}},
},
[146] = {
	awardList = {{type=0,id=2,count=800}},
},
[147] = {
	awardList = {{type=0,id=2,count=8000}},
},
[148] = {
	awardList = {{type=0,id=2,count=800}},
},
[149] = {
	awardList = {{type=0,id=2,count=800}},
},
[150] = {
	awardList = {{type=0,id=2,count=800},{type=1,id=220011,count=1}},
},
[151] = {
	awardList = {{type=0,id=2,count=800}},
},
[152] = {
	awardList = {{type=0,id=2,count=800}},
},
[153] = {
	awardList = {{type=0,id=2,count=800}},
},
[154] = {
	awardList = {{type=0,id=2,count=14000}},
},
[155] = {
	awardList = {{type=0,id=2,count=880}},
},
[156] = {
	awardList = {{type=0,id=2,count=880}},
},
[157] = {
	awardList = {{type=0,id=2,count=880},{type=1,id=260065,count=1}},
},
[158] = {
	awardList = {{type=0,id=2,count=880}},
},
[159] = {
	awardList = {{type=0,id=2,count=880}},
},
[160] = {
	awardList = {{type=0,id=2,count=880}},
},
[161] = {
	awardList = {{type=0,id=2,count=20000}},
},
[162] = {
	awardList = {{type=0,id=2,count=880}},
},
[163] = {
	awardList = {{type=0,id=2,count=880}},
},
[164] = {
	awardList = {{type=0,id=2,count=880},{type=1,id=200301,count=250}},
},
[165] = {
	awardList = {{type=0,id=2,count=880}},
},
[166] = {
	awardList = {{type=0,id=2,count=880}},
},
[167] = {
	awardList = {{type=0,id=2,count=880}},
},
[168] = {
	awardList = {{type=0,id=2,count=26000}},
},
[169] = {
	awardList = {{type=0,id=2,count=600}},
},
[170] = {
	awardList = {{type=0,id=2,count=600}},
},
[171] = {
	awardList = {{type=0,id=2,count=600},{type=1,id=900012,count=1}},
},
[172] = {
	awardList = {{type=0,id=2,count=600}},
},
[173] = {
	awardList = {{type=0,id=2,count=600}},
},
[174] = {
	awardList = {{type=0,id=2,count=600}},
},
[175] = {
	awardList = {{type=0,id=2,count=2000},{type=1,id=900001,count=1}},
},
[176] = {
	awardList = {{type=0,id=2,count=600}},
},
[177] = {
	awardList = {{type=0,id=2,count=600}},
},
[178] = {
	awardList = {{type=0,id=2,count=600},{type=1,id=252229,count=1}},
},
[179] = {
	awardList = {{type=0,id=2,count=600}},
},
[180] = {
	awardList = {{type=0,id=2,count=600}},
},
[181] = {
	awardList = {{type=0,id=2,count=600}},
},
[182] = {
	awardList = {{type=0,id=2,count=4000},{type=1,id=200113,count=1}},
},
[183] = {
	awardList = {{type=0,id=2,count=800}},
},
[184] = {
	awardList = {{type=0,id=2,count=800}},
},
[185] = {
	awardList = {{type=0,id=2,count=800},{type=1,id=252230,count=1}},
},
[186] = {
	awardList = {{type=0,id=2,count=800}},
},
[187] = {
	awardList = {{type=0,id=2,count=800}},
},
[188] = {
	awardList = {{type=0,id=2,count=800}},
},
[189] = {
	awardList = {{type=0,id=2,count=8000}},
},
[190] = {
	awardList = {{type=0,id=2,count=800}},
},
[191] = {
	awardList = {{type=0,id=2,count=800}},
},
[192] = {
	awardList = {{type=0,id=2,count=800},{type=1,id=220011,count=1}},
},
[193] = {
	awardList = {{type=0,id=2,count=800}},
},
[194] = {
	awardList = {{type=0,id=2,count=800}},
},
[195] = {
	awardList = {{type=0,id=2,count=800}},
},
[196] = {
	awardList = {{type=0,id=2,count=14000}},
},
[197] = {
	awardList = {{type=0,id=2,count=880}},
},
[198] = {
	awardList = {{type=0,id=2,count=880}},
},
[199] = {
	awardList = {{type=0,id=2,count=880},{type=1,id=260065,count=1}},
},
[200] = {
	awardList = {{type=0,id=2,count=880}},
},
[201] = {
	awardList = {{type=0,id=2,count=880}},
},
[202] = {
	awardList = {{type=0,id=2,count=880}},
},
[203] = {
	awardList = {{type=0,id=2,count=20000}},
},
[204] = {
	awardList = {{type=0,id=2,count=880}},
},
[205] = {
	awardList = {{type=0,id=2,count=880}},
},
[206] = {
	awardList = {{type=0,id=2,count=880},{type=1,id=200301,count=250}},
},
[207] = {
	awardList = {{type=0,id=2,count=880}},
},
[208] = {
	awardList = {{type=0,id=2,count=880}},
},
[209] = {
	awardList = {{type=0,id=2,count=880}},
},
[210] = {
	awardList = {{type=0,id=2,count=26000}},
},
[211] = {
	awardList = {{type=0,id=2,count=600}},
},
[212] = {
	awardList = {{type=0,id=2,count=600}},
},
[213] = {
	awardList = {{type=0,id=2,count=600},{type=1,id=900012,count=1}},
},
[214] = {
	awardList = {{type=0,id=2,count=600}},
},
[215] = {
	awardList = {{type=0,id=2,count=600}},
},
[216] = {
	awardList = {{type=0,id=2,count=600}},
},
[217] = {
	awardList = {{type=0,id=2,count=2000},{type=1,id=900001,count=1}},
},
[218] = {
	awardList = {{type=0,id=2,count=600}},
},
[219] = {
	awardList = {{type=0,id=2,count=600}},
},
[220] = {
	awardList = {{type=0,id=2,count=600},{type=1,id=252229,count=1}},
},
[221] = {
	awardList = {{type=0,id=2,count=600}},
},
[222] = {
	awardList = {{type=0,id=2,count=600}},
},
[223] = {
	awardList = {{type=0,id=2,count=600}},
},
[224] = {
	awardList = {{type=0,id=2,count=4000},{type=1,id=200113,count=1}},
},
[225] = {
	awardList = {{type=0,id=2,count=800}},
},
[226] = {
	awardList = {{type=0,id=2,count=800}},
},
[227] = {
	awardList = {{type=0,id=2,count=800},{type=1,id=252230,count=1}},
},
[228] = {
	awardList = {{type=0,id=2,count=800}},
},
[229] = {
	awardList = {{type=0,id=2,count=800}},
},
[230] = {
	awardList = {{type=0,id=2,count=800}},
},
[231] = {
	awardList = {{type=0,id=2,count=8000}},
},
[232] = {
	awardList = {{type=0,id=2,count=800}},
},
[233] = {
	awardList = {{type=0,id=2,count=800}},
},
[234] = {
	awardList = {{type=0,id=2,count=800},{type=1,id=220011,count=1}},
},
[235] = {
	awardList = {{type=0,id=2,count=800}},
},
[236] = {
	awardList = {{type=0,id=2,count=800}},
},
[237] = {
	awardList = {{type=0,id=2,count=800}},
},
[238] = {
	awardList = {{type=0,id=2,count=14000}},
},
[239] = {
	awardList = {{type=0,id=2,count=880}},
},
[240] = {
	awardList = {{type=0,id=2,count=880}},
},
[241] = {
	awardList = {{type=0,id=2,count=880},{type=1,id=260065,count=1}},
},
[242] = {
	awardList = {{type=0,id=2,count=880}},
},
[243] = {
	awardList = {{type=0,id=2,count=880}},
},
[244] = {
	awardList = {{type=0,id=2,count=880}},
},
[245] = {
	awardList = {{type=0,id=2,count=20000}},
},
[246] = {
	awardList = {{type=0,id=2,count=880}},
},
[247] = {
	awardList = {{type=0,id=2,count=880}},
},
[248] = {
	awardList = {{type=0,id=2,count=880},{type=1,id=200301,count=250}},
},
[249] = {
	awardList = {{type=0,id=2,count=880}},
},
[250] = {
	awardList = {{type=0,id=2,count=880}},
},
[251] = {
	awardList = {{type=0,id=2,count=880}},
},
[252] = {
	awardList = {{type=0,id=2,count=26000}},
},
[253] = {
	awardList = {{type=0,id=2,count=600}},
},
[254] = {
	awardList = {{type=0,id=2,count=600}},
},
[255] = {
	awardList = {{type=0,id=2,count=600},{type=1,id=900012,count=1}},
},
[256] = {
	awardList = {{type=0,id=2,count=600}},
},
[257] = {
	awardList = {{type=0,id=2,count=600}},
},
[258] = {
	awardList = {{type=0,id=2,count=600}},
},
[259] = {
	awardList = {{type=0,id=2,count=2000},{type=1,id=900001,count=1}},
},
[260] = {
	awardList = {{type=0,id=2,count=600}},
},
[261] = {
	awardList = {{type=0,id=2,count=600}},
},
[262] = {
	awardList = {{type=0,id=2,count=600},{type=1,id=252229,count=1}},
},
[263] = {
	awardList = {{type=0,id=2,count=600}},
},
[264] = {
	awardList = {{type=0,id=2,count=600}},
},
[265] = {
	awardList = {{type=0,id=2,count=600}},
},
[266] = {
	awardList = {{type=0,id=2,count=4000},{type=1,id=200113,count=1}},
},
[267] = {
	awardList = {{type=0,id=2,count=800}},
},
[268] = {
	awardList = {{type=0,id=2,count=800}},
},
[269] = {
	awardList = {{type=0,id=2,count=800},{type=1,id=252230,count=1}},
},
[270] = {
	awardList = {{type=0,id=2,count=800}},
},
[271] = {
	awardList = {{type=0,id=2,count=800}},
},
[272] = {
	awardList = {{type=0,id=2,count=800}},
},
[273] = {
	awardList = {{type=0,id=2,count=8000}},
},
[274] = {
	awardList = {{type=0,id=2,count=800}},
},
[275] = {
	awardList = {{type=0,id=2,count=800}},
},
[276] = {
	awardList = {{type=0,id=2,count=800},{type=1,id=220011,count=1}},
},
[277] = {
	awardList = {{type=0,id=2,count=800}},
},
[278] = {
	awardList = {{type=0,id=2,count=800}},
},
[279] = {
	awardList = {{type=0,id=2,count=800}},
},
[280] = {
	awardList = {{type=0,id=2,count=14000}},
},
[281] = {
	awardList = {{type=0,id=2,count=880}},
},
[282] = {
	awardList = {{type=0,id=2,count=880}},
},
[283] = {
	awardList = {{type=0,id=2,count=880},{type=1,id=260065,count=1}},
},
[284] = {
	awardList = {{type=0,id=2,count=880}},
},
[285] = {
	awardList = {{type=0,id=2,count=880}},
},
[286] = {
	awardList = {{type=0,id=2,count=880}},
},
[287] = {
	awardList = {{type=0,id=2,count=20000}},
},
[288] = {
	awardList = {{type=0,id=2,count=880}},
},
[289] = {
	awardList = {{type=0,id=2,count=880}},
},
[290] = {
	awardList = {{type=0,id=2,count=880},{type=1,id=200301,count=250}},
},
[291] = {
	awardList = {{type=0,id=2,count=880}},
},
[292] = {
	awardList = {{type=0,id=2,count=880}},
},
[293] = {
	awardList = {{type=0,id=2,count=880}},
},
[294] = {
	awardList = {{type=0,id=2,count=26000}},
},
[295] = {
	awardList = {{type=0,id=2,count=600}},
},
[296] = {
	awardList = {{type=0,id=2,count=600}},
},
[297] = {
	awardList = {{type=0,id=2,count=600},{type=1,id=900012,count=1}},
},
[298] = {
	awardList = {{type=0,id=2,count=600}},
},
[299] = {
	awardList = {{type=0,id=2,count=600}},
},
[300] = {
	awardList = {{type=0,id=2,count=600}},
},
[301] = {
	awardList = {{type=0,id=2,count=2000},{type=1,id=900001,count=1}},
},
[302] = {
	awardList = {{type=0,id=2,count=600}},
},
[303] = {
	awardList = {{type=0,id=2,count=600}},
},
[304] = {
	awardList = {{type=0,id=2,count=600},{type=1,id=252229,count=1}},
},
[305] = {
	awardList = {{type=0,id=2,count=600}},
},
[306] = {
	awardList = {{type=0,id=2,count=600}},
},
[307] = {
	awardList = {{type=0,id=2,count=600}},
},
[308] = {
	awardList = {{type=0,id=2,count=4000},{type=1,id=200113,count=1}},
},
[309] = {
	awardList = {{type=0,id=2,count=800}},
},
[310] = {
	awardList = {{type=0,id=2,count=800}},
},
[311] = {
	awardList = {{type=0,id=2,count=800},{type=1,id=252230,count=1}},
},
[312] = {
	awardList = {{type=0,id=2,count=800}},
},
[313] = {
	awardList = {{type=0,id=2,count=800}},
},
[314] = {
	awardList = {{type=0,id=2,count=800}},
},
[315] = {
	awardList = {{type=0,id=2,count=8000}},
},
[316] = {
	awardList = {{type=0,id=2,count=800}},
},
[317] = {
	awardList = {{type=0,id=2,count=800}},
},
[318] = {
	awardList = {{type=0,id=2,count=800},{type=1,id=220011,count=1}},
},
[319] = {
	awardList = {{type=0,id=2,count=800}},
},
[320] = {
	awardList = {{type=0,id=2,count=800}},
},
[321] = {
	awardList = {{type=0,id=2,count=800}},
},
[322] = {
	awardList = {{type=0,id=2,count=14000}},
},
[323] = {
	awardList = {{type=0,id=2,count=880}},
},
[324] = {
	awardList = {{type=0,id=2,count=880}},
},
[325] = {
	awardList = {{type=0,id=2,count=880},{type=1,id=260065,count=1}},
},
[326] = {
	awardList = {{type=0,id=2,count=880}},
},
[327] = {
	awardList = {{type=0,id=2,count=880}},
},
[328] = {
	awardList = {{type=0,id=2,count=880}},
},
[329] = {
	awardList = {{type=0,id=2,count=20000}},
},
[330] = {
	awardList = {{type=0,id=2,count=880}},
},
[331] = {
	awardList = {{type=0,id=2,count=880}},
},
[332] = {
	awardList = {{type=0,id=2,count=880},{type=1,id=200301,count=250}},
},
[333] = {
	awardList = {{type=0,id=2,count=880}},
},
[334] = {
	awardList = {{type=0,id=2,count=880}},
},
[335] = {
	awardList = {{type=0,id=2,count=880}},
},
[336] = {
	awardList = {{type=0,id=2,count=26000}},
},
[337] = {
	awardList = {{type=0,id=2,count=600}},
},
[338] = {
	awardList = {{type=0,id=2,count=600}},
},
[339] = {
	awardList = {{type=0,id=2,count=600},{type=1,id=900012,count=1}},
},
[340] = {
	awardList = {{type=0,id=2,count=600}},
},
[341] = {
	awardList = {{type=0,id=2,count=600}},
},
[342] = {
	awardList = {{type=0,id=2,count=600}},
},
[343] = {
	awardList = {{type=0,id=2,count=2000},{type=1,id=900001,count=1}},
},
[344] = {
	awardList = {{type=0,id=2,count=600}},
},
[345] = {
	awardList = {{type=0,id=2,count=600}},
},
[346] = {
	awardList = {{type=0,id=2,count=600},{type=1,id=252229,count=1}},
},
[347] = {
	awardList = {{type=0,id=2,count=600}},
},
[348] = {
	awardList = {{type=0,id=2,count=600}},
},
[349] = {
	awardList = {{type=0,id=2,count=600}},
},
[350] = {
	awardList = {{type=0,id=2,count=4000},{type=1,id=200113,count=1}},
},
[351] = {
	awardList = {{type=0,id=2,count=800}},
},
[352] = {
	awardList = {{type=0,id=2,count=800}},
},
[353] = {
	awardList = {{type=0,id=2,count=800},{type=1,id=252230,count=1}},
},
[354] = {
	awardList = {{type=0,id=2,count=800}},
},
[355] = {
	awardList = {{type=0,id=2,count=800}},
},
[356] = {
	awardList = {{type=0,id=2,count=800}},
},
[357] = {
	awardList = {{type=0,id=2,count=8000}},
},
[358] = {
	awardList = {{type=0,id=2,count=800}},
},
[359] = {
	awardList = {{type=0,id=2,count=800}},
},
[360] = {
	awardList = {{type=0,id=2,count=800},{type=1,id=220011,count=1}},
},
[361] = {
	awardList = {{type=0,id=2,count=800}},
},
[362] = {
	awardList = {{type=0,id=2,count=800}},
},
[363] = {
	awardList = {{type=0,id=2,count=800}},
},
[364] = {
	awardList = {{type=0,id=2,count=14000}},
},
[365] = {
	awardList = {{type=0,id=2,count=880}},
},
[366] = {
	awardList = {{type=0,id=2,count=880}},
},
[367] = {
	awardList = {{type=0,id=2,count=880},{type=1,id=260065,count=1}},
},
[368] = {
	awardList = {{type=0,id=2,count=880}},
},
[369] = {
	awardList = {{type=0,id=2,count=880}},
},
[370] = {
	awardList = {{type=0,id=2,count=880}},
},
[371] = {
	awardList = {{type=0,id=2,count=20000}},
},
[372] = {
	awardList = {{type=0,id=2,count=880}},
},
[373] = {
	awardList = {{type=0,id=2,count=880}},
},
[374] = {
	awardList = {{type=0,id=2,count=880},{type=1,id=200301,count=250}},
},
[375] = {
	awardList = {{type=0,id=2,count=880}},
},
[376] = {
	awardList = {{type=0,id=2,count=880}},
},
[377] = {
	awardList = {{type=0,id=2,count=880}},
},
[378] = {
	awardList = {{type=0,id=2,count=26000}},
},
}