--L-礼包兑换码.xlsx 渠道激活码
ChannelGiftCodeConfig={
["DADI666"] = {
	code = "DADI666",
	mailTitle = "礼包兑换成功",
	mailContent = "礼包兑换成功。您获得了强化石*50、精炼石*600、金币*500000、经脉丹*10，请在背包中查看",
	gift = {{type=1,id=200002,count=50},{type=0,id=4,count=600},{type=0,id=1,count=500000},{type=1,id=200004,count=10}},
},
["libao888"] = {
	code = "libao888",
	mailTitle = "礼包兑换成功",
	mailContent = "礼包兑换成功。您获得：黑铁*1000、野外boss*5、100精华*5、龙魂碎片*15，请在背包中查看",
	gift = {{type=1,id=200167,count=1000},{type=0,id=1,count=2000000},{type=1,id=200156,count=5},{type=1,id=500004,count=5},{type=1,id=200005,count=15}},
},
}