--H-活动配置.xlsx 24-2
ActivityType24_2Config={
[2001] = {
	[1] = {
		id = 2001,
		index = 1,
		startTime = 0,
		ybRandom = {60,120},
		extraYbRandom = {100,250},
		cdTime = 600,
	},
	[2] = {
		id = 2001,
		index = 2,
		startTime = 3600,
		ybRandom = {70,150},
		extraYbRandom = {150,350},
		cdTime = 600,
	},
	[3] = {
		id = 2001,
		index = 3,
		startTime = 7200,
		ybRandom = {80,190},
		extraYbRandom = {200,450},
		cdTime = 600,
	},
	[4] = {
		id = 2001,
		index = 4,
		startTime = 10800,
		ybRandom = {90,240},
		extraYbRandom = {250,550},
		cdTime = 600,
	},
	[5] = {
		id = 2001,
		index = 5,
		startTime = 14400,
		ybRandom = {100,300},
		extraYbRandom = {300,650},
		cdTime = 600,
	},
},
}